.Navbar {
	--home-position: 0;
	--about-position: 4.5rem;
	--cv-position: 8rem;
	--projects-position: 12.25rem;
	--mobile-transition: mask-position, filter;
	--mobile-duration: 600ms, 200ms;
	--mobile-mask: linear-gradient(
		to right,
		rgba(255, 255, 255, 100) 0%,
		rgba(255, 255, 255, 100) 34%,
		rgba(255, 255, 255, 0) 55%,
		rgba(255, 255, 255, 0) 100%
	);
}

.Navbar:has(#home.active) .dot-container .dot,
.Navbar:has(#home:active) .dot-container .dot {
	transform: translateX(var(--home-position));
}

.Navbar:has(#about:active) .dot-container .dot,
.Navbar:has(#about.active) .dot-container .dot {
	transform: translateX(var(--about-position));
}

.Navbar:has(#cv:active) .dot-container .dot,
.Navbar:has(#cv.active) .dot-container .dot {
	transform: translateX(var(--cv-position));
}

.Navbar:has(#projects:active) .dot-container .dot,
.Navbar:has(#projects.active) .dot-container .dot {
	transform: translateX(var(--projects-position));
}

.Navbar:has(#home:focus) .dot-container .dot {
	transform: translateX(var(--home-position));
}

.Navbar:has(#about:focus) .dot-container .dot {
	transform: translateX(var(--about-position));
}

.Navbar:has(#cv:focus) .dot-container .dot {
	transform: translateX(var(--cv-position));
}

.Navbar:has(#projects:focus) .dot-container .dot {
	transform: translateX(var(--projects-position));
}

.Navbar:has(#home:hover) .dot-container .dot {
	transform: translateX(var(--home-position));
}

.Navbar:has(#about:hover) .dot-container .dot {
	transform: translateX(var(--about-position));
}

.Navbar:has(#cv:hover) .dot-container .dot {
	transform: translateX(var(--cv-position));
}

.Navbar:has(#projects:hover) .dot-container .dot {
	transform: translateX(var(--projects-position));
}

.Navbar:has(a:hover) .dot-container .dot {
	@media (prefers-reduced-motion: reduce) {
		opacity: 0.3;
	}
}

.Navbar .dot-container .dot {
	@media (prefers-reduced-motion: no-preference) {
		transition: transform 400ms;
		transition-timing-function: cubic-bezier(0.85, 0.13, 0.53, 0.755);
	}
}
