.Navbar:has(#home.active) .dot-container .dot,
.Navbar:has(#home:focus) .dot-container .dot,
.Navbar:has(#home:active) .dot-container .dot {
	transform: translateX(0);
}

.Navbar:has(#about:active) .dot-container .dot,
.Navbar:has(#about:focus) .dot-container .dot,
.Navbar:has(#about.active) .dot-container .dot {
	transform: translateX(4.25rem);
}

.Navbar:has(#cv:active) .dot-container .dot,
.Navbar:has(#cv:focus) .dot-container .dot,
.Navbar:has(#cv.active) .dot-container .dot {
	transform: translateX(8rem);
}

.Navbar:has(#projects:active) .dot-container .dot,
.Navbar:has(#projects:focus) .dot-container .dot,
.Navbar:has(#projects.active) .dot-container .dot {
	transform: translateX(12rem);
}

.Navbar:has(#home:hover) .dot-container .dot {
	transform: translateX(0);
}

.Navbar:has(#about:hover) .dot-container .dot {
	transform: translateX(4.25rem);
}

.Navbar:has(#cv:hover) .dot-container .dot {
	transform: translateX(8rem);
}

.Navbar:has(#projects:hover) .dot-container .dot {
	transform: translateX(12rem);
}

.Navbar .dot-container .dot {
	transition: transform 400ms;
	transition-timing-function: cubic-bezier(0.85, 0.13, 0.53, 0.755);
}

.Navbar-mobileOption:after {
	opacity: 0;
	left: 25%;
	top: 40%;
	transition:
		opacity 200ms 100ms,
		left 250ms cubic-bezier(0.85, 0.13, 0.53, 0.755);
}

.Navbar-mobileOption:hover:after {
	opacity: 0.5;
	left: 0;
}

.Navbar-mobileOption:active:after {
	opacity: 1;
	left: 0;
}

.Navbar-mobileOption:focus:after {
	opacity: 0.7;
	left: 0;
}

.Navbar-mobileOption.active:after {
	opacity: 1;
	left: 0;
}
